@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-formular text-font16 md:text-font20 xl:text-font24 font-normal leading-tight text-black bg-white;
  }

  section {
    @apply w-full;
  }
}

@layer components {
  .container {
    @apply xl:pl-[236px];
  }

  .container.header {
    @apply xl:pl-[32px];
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .hero-bg-mob {
    background-image: image-set(
      url(/images/hero/hero-bg-mobile.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-mobile@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-mobile.jpg) 1x,
      url(/images/hero/hero-bg-mobile@2x.jpg) 2x
    );
  }
  .hero-bg-tab {
    background-image: image-set(
      url(/images/hero/hero-bg-tablet.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-tablet@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-tablet.jpg) 1x,
      url(/images/hero/hero-bg-tablet@2x.jpg) 2x
    );
  }
  .hero-bg-desk {
    background-image: image-set(
      url(/images/hero/hero-bg-desktop.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-desktop@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-desktop.jpg) 1x,
      url(/images/hero/hero-bg-desktop@2x.jpg) 2x
    );
  }
  .hero-bg {
    @apply hero-bg-mob md:hero-bg-tab xl:hero-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .hero-bgcolor-mob {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-mobile.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-mobile@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-mobile.jpg) 1x,
      url(/images/hero/hero-bgcolor-mobile@2x.jpg) 2x
    );
  }
  .hero-bgcolor-tab {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-tablet.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-tablet@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-tablet.jpg) 1x,
      url(/images/hero/hero-bgcolor-tablet@2x.jpg) 2x
    );
  }
  .hero-bgcolor-desk {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-desktop.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-desktop@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-desktop.jpg) 1x,
      url(/images/hero/hero-bgcolor-desktop@2x.jpg) 2x
    );
  }
  .hero-bgcolor {
    @apply hero-bgcolor-mob md:hero-bgcolor-tab xl:hero-bgcolor-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .title-section-about {
    @apply text-font20 md:text-font24 xl:text-font36 font-light
    before:content-['['] before:pr-[14px] md:before:pr-[20px] xl:before:pr-[30px] before:text-accent
    after:content-[']'] after:pl-[14px] md:after:pl-[20px] xl:after:pl-[30px] after:text-accent;
  }

  .contacts-title {
    @apply text-font24 font-bold
    before:content-['['] before:pr-[18px] before:text-accent before:font-light
    after:content-[']'] after:pl-[18px] after:text-accent after:font-light;
  }

  .modal-title {
    @apply text-font20 md:text-font24 font-bold text-white
    before:content-['['] before:pr-[15px] md:before:pr-[18px] before:text-accent before:font-light
    after:content-[']'] after:pl-[15px] md:after:pl-[18px] after:text-accent after:font-light;
  }
}
