@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-formular text-font16 md:text-font20 xl:text-font24 font-normal leading-tight text-black bg-white;
  }

  section {
    @apply w-full;
  }
}

@layer components {
  .container {
    @apply xl:pl-[236px];
  }

  .container.header {
    @apply xl:pl-[32px];
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .hero-bg-mob {
    background-image: image-set(
      url(/images/hero/hero-bg-mobile.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-mobile@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-mobile.jpg) 1x,
      url(/images/hero/hero-bg-mobile@2x.jpg) 2x
    );
  }
  .hero-bg-tab {
    background-image: image-set(
      url(/images/hero/hero-bg-tablet.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-tablet@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-tablet.jpg) 1x,
      url(/images/hero/hero-bg-tablet@2x.jpg) 2x
    );
  }
  .hero-bg-desk {
    background-image: image-set(
      url(/images/hero/hero-bg-desktop.webp) type('image/webp') 1x,
      url(/images/hero/hero-bg-desktop@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bg-desktop.jpg) 1x,
      url(/images/hero/hero-bg-desktop@2x.jpg) 2x
    );
  }
  .hero-bg {
    @apply hero-bg-mob md:hero-bg-tab xl:hero-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .hero-bgcolor-mob {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-mobile.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-mobile@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-mobile.jpg) 1x,
      url(/images/hero/hero-bgcolor-mobile@2x.jpg) 2x
    );
  }
  .hero-bgcolor-tab {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-tablet.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-tablet@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-tablet.jpg) 1x,
      url(/images/hero/hero-bgcolor-tablet@2x.jpg) 2x
    );
  }
  .hero-bgcolor-desk {
    background-image: image-set(
      url(/images/hero/hero-bgcolor-desktop.webp) type('image/webp') 1x,
      url(/images/hero/hero-bgcolor-desktop@2x.webp) type('image/webp') 2x,
      url(/images/hero/hero-bgcolor-desktop.jpg) 1x,
      url(/images/hero/hero-bgcolor-desktop@2x.jpg) 2x
    );
  }
  .hero-bgcolor {
    @apply hero-bgcolor-mob md:hero-bgcolor-tab xl:hero-bgcolor-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .title-section-about {
    @apply text-font20 md:text-font24 xl:text-font36 font-light
    before:content-['['] before:pr-[14px] md:before:pr-[20px] xl:before:pr-[30px] before:text-accent
    after:content-[']'] after:pl-[14px] md:after:pl-[20px] xl:after:pl-[30px] after:text-accent;
  }

  .accordion {
    @apply text-bgColor leading-[1.33];
  }
  .accordion-item {
    @apply relative z-[1] bg-black pt-2 -mt-2 md:pt-3 md:-mt-[14px];
  }
  .accordion-title-box {
    @apply cursor-pointer text-[#4D4D4D] pt-2 md:pt-3 border-t border-[#4D4D4D] flex justify-between gap-4 xl:justify-start xl:gap-[482px] transition-all duration-500 ease-in;
  }
  .accordion-title-box.active {
    @apply text-accent border-accent md:justify-start md:gap-[309px] xl:gap-[482px];
  }
  .accordion-count {
    @apply text-[12px] md:text-[24px] tracking-[1.2px] md:tracking-[2.4px];
  }
  .accordion-title {
    @apply font-medium md:text-[32px] xl:text-[36px] md:tracking-[-1.28px] xl:tracking-[0];
  }
  .accordion-content-box {
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;
    transition: all 300ms linear;
  }
  .accordion-content-box.active {
    max-height: 100%;
  }
  .accordion-content {
    @apply pt-6 pb-8 space-y-6 md:pt-9 md:pb-12 md:space-y-9 xl:pt-12 xl:pb-[60px] xl:space-y-12;
  }
  .accordion-content-item {
    @apply space-y-3 pb-3 tracking-[-0.64px] md:text-[24px] md:tracking-[-0.96px];
  }
  .accordion-content-item:not(:last-child) {
    @apply border-b border-[#4D4D4D];
  }
  .accordion-subtitle {
    @apply text-accent border-accent mb-2 md:mb-4;
  }
  .accordion-text {
    @apply font-light;
  }
}
