.swiper-scrollbar {
  cursor: move;
  cursor: grab;
  position: relative;
  --swiper-scrollbar-bottom: 8px;
  /* --swiper-scrollbar-right: 0px; */
  --swiper-scrollbar-height: 8px;
  /* --swiper-scrollbar-sides-offset: 1%; */
  background-color: transparent;
  --swiper-scrollbar-size: 8px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #bababa;
    transform: translateY(4px);
  }
}

.swiper-scrollbar-drag {
  position: relative;
  background-color: transparent;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    transform: translateY(4px);
    background-color: #171717;
  }
}
